

.thumbnail{
    padding:0;
}

.thumbnail img{
    width: 100%;
    padding:0;

}

.thumbnail .caption-full{
    padding:9px;
}

#comment-delete-form{
    display:inline;
}

#comment-delete-form input{
    /*padding-top: 3px;*/
}